<mat-card *ngIf="status" class="example-card">
  <mat-card-header>
    <mat-icon mat-card-avatar>{{ status.up ? "check" : "close" }}</mat-icon>
    <mat-card-title>Share US status</mat-card-title>
    <mat-card-subtitle>
      {{ status.up ? "online" : "offline" }} since {{ status.since | date }} ({{ status.since | timeAgo }})
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Status checked {{ status.at | timeAgo }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <app-twit-follow></app-twit-follow>
    <fb-like url="https://www.facebook.com/Share-Alerts-100533538113004/"></fb-like>
  </mat-card-actions>
</mat-card>
